*_del.h
new_gtlds.h
nic_handles.h
tld_serv.h
servers_charset.h
version.h

Makefile.depend
*.o
mkpasswd
whois

po/whois.pot
po/*.mo

debian/debhelper-build-stamp
debian/files
debian/whois.debhelper.log
debian/whois.substvars
debian/whois/
